- unless @profile.errors.blank?
  - @profile.errors.messages.each do |msg|
    %li
      = "#{msg[0]} #{msg[1][0]}"

= form_for @profile, :url => profile_path do |f|
  %p
    = "first name"
    = f.text_field :first_name
  %p
    = "last name"
    = f.text_field :last_name
  %p
    = "Birthday"
    = f.date_select :birthday, {:use_month_numbers => true, :start_year => 1950, :end_year => Time.now.year - 17}
  =f.submit