%dl
  %dt
    = "Email"
  %dd
    = f.text_field :email
%dl
  %dt
    = "Password"
  %dd
    = f.password_field :password
%dl
  %dt
    = "Password Comfirmation"
  %dd
    = f.password_field :password