#job-left
  %dl
    %dt
      = "Job ID"
    %dd
      = @job.job_id
  %dl
    %dt
      = "Title"
    %dd
      = @job.title  
  %dl
    %dt
      = "Occupation"
    %dd
      = @job.occupation
  %dl
    %dt
      = "Background"
    %dd
      = simple_format(@job.background)
  %dl
    %dt
      = "Detail"
    %dd
      = simple_format(@job.detail)
  %dl
    %dt
      = "Hiring Type"
    %dd
      = @job.hiring_type
#job-right
  %dl
    %dt
      = "Credentials"
    %dd
      = simple_format(@job.credentials)
  %dl
    %dt
      = "Work Place"
    %dd
      = @job.work_place
  %dl
    %dt
      = "Work Time"
    %dd
      = @job.work_time
  %dl
    %dt
      = "Salary"
    %dd
      = @job.salary
  %dl
    %dt
      = "Compensation"
    %dd
      = @job.compensation  
  %dl
    %dt
      = "Holidays"
    %dd
      = @job.holidays
  %dl
    %dt
      = "Posting Start"
    %dd
      = @job.posting_start.strftime("%Y/%m/%d")
  %dl
    %dt
      = "Posting End"
    %dd
      = @job.posting_end.strftime("%Y/%m/%d")
  %dl
    %dt
      = "Job Category"
    %dd
      = get_job_category_name(@job.job_category)
#back-link
  = link_to 'Back', admins_company_jobs_path(params[:company_id])     


